html {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    background-color: whitesmoke;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: monospace;
    font-size: 1.5rem;
}

#text-container {
    width: 70rem;
    height: auto; 
    margin: 2rem auto;
    line-height: 2rem;
    white-space: nowrap;
    background-color: white;
    padding: 1rem;
    border-radius: 1%;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
    cursor: none;
}

#timer { 
    margin: 1rem;
    font-size: 1.2rem;
}

button {
    padding: 1rem;
    width: 15rem;
    background-color: rgb(43,43,43);
    color: white;
    border-radius: 8px;
    border: none;
    margin-top: 2rem;
    font-size: 1.2rem;
    display: none;
}

button:hover {
    filter: brightness(1.2)
}

.correct {
    color: green;
}

.error {
    color: red;
}

span {
    min-width: 14px;
}

/* Media Queries for Mobile Responsiveness */
@media (max-width: 768px) {
    body {
        font-size: 1.2rem;
    }

    #text-container {
        width: 90%;
        padding: 0.5rem;
        font-size: 1rem;
    }

    button {
        width: 12rem;
        font-size: 1rem;
        padding: 0.8rem;
    }

    #timer {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 1rem;
    }

    #text-container {
        width: 100%;
        padding: 0.5rem;
        font-size: 0.9rem;
    }

    button {
        width: 10rem;
        font-size: 0.9rem;
        padding: 0.6rem;
    }

    #timer {
        font-size: 0.9rem;
    }
}